---
  version: 1
  schedule:
    type: "simple"
    interval: "1s"
  workflow: 
    collect:
      metrics:
        /intel/psutil/load/load1: {}
        /intel/psutil/load/load15: {}
        /intel/psutil/load/load5: {}
      publish:
        -
          plugin_name: "file"
          config:
            file: "/tmp/snap_published_demo_file.log"
