# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
.idea
tmp/
*.tmp
scratch/
build/
*.swp
profile.cov
gin-bin

# we don't vendor godep _workspace
**/Godeps/_workspace/**

# OSX stuff
.DS_Store
