<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="2B94479F-2812-456C-8A89-08DCBDD045FB" Name="Snap" Language="1033" Version="0.0.0.1" Manufacturer="Intel" UpgradeCode="6346BB1E-432E-4A26-AEBE-A9C092AE4769">
        <Package Description="Snap - The open telemetry framework" Comments="Snap" InstallerVersion="100" Compressed="yes" />
        <Media Id="1" Cabinet="snap.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Name="Snap" Id="SNAP">
                    <Component Id="executable" DiskId="1" KeyPath="yes" Guid="fc61c0aa-346c-478b-a1cd-643288a5c7c1">
                        <File Id="SNAP.EXE" Name="snap.exe" Source="snap.exe" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="executable" />
            <Component Id="snapserivce" Guid="8AC257B2-8A4B-4606-8ABD-3B4DEDFDDB1C" Directory="TARGETDIR">
                <ServiceInstall Name="snapserviceinstaller" Type="ownProcess" Start="auto" ErrorControl="normal" />
            </Component>
        </Feature>
        <UI />
    </Product>
</Wix>