
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 medium-push-6 columns">

    </div>
    <div class="small-12 medium-6 medium-pull-6 columns">
      <p class="logo hide-for-small-only">snap</p> 
      <p class="footer-links">     
      <a href="https://github.com/intelsdi-x/snap"><i class="fa fa-github-square"style="color:white"></i></a>
      <a href="https://intelsdi-x.herokuapp.com/"><i class="fa fa-slack"style="color:white"></i></a>
      <a href="https://github.com/intelsdi-x/snap/blob/master/docs/PLUGIN_CATALOG.md">plugin catalog</a>
      <a href ="https://github.com/intelsdi-x/snap#documentation">documentation</a>

      </p>
      
    </div>
  </div>
</footer>


<script>
  $(document).foundation();
</script>