




<div class= "headerbar">

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title"></div>
</div>
<div class="top-bar" id="example-menu">
  <div class="top-bar-left">


{{#unlesspage 'index'}}
<!-- display this on every page except index.html-->
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="index.html"><img src="{{root}}assets/img/minisnappy.png"></a></li>
    </ul>
{{/unlesspage}} 

  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="https://github.com/intelsdi-x/snap"><i class="fa fa-github-square fa-lg"></i></a></li>
      <li class="menu-text"><a href="https://intelsdi-x.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
      <li class="menu-text"><a href="plugins.html">Plugin Catalog</a></li>
      <li class="menu-text"><a href="download.html">Download</a></li>
    </ul>
  </div>
</div>
</div>

</div>





